<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sshop.dao.GoodsPartDao" >
	
	<resultMap type="GoodsPart" id="RM_GoodsPart">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="goodsId" property="goodsId" />
		<collection property="images" ofType="Images" >
			<result column="gid" property="id" />
			<result column="path" property="path" />
			<result column="description" property="description" />
		</collection>
	</resultMap>
  
	<select id="findGoodsPart" resultMap="RM_GoodsPart">
		select 
			gp.id, gp.name, gp.goodsId, i.id as gid, i.path, i.description
		from goods_part gp left join images i on gp.id = partId
		where goodsId = #{goodsId} 
	</select>
</mapper>