<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sshop.dao.GoodsDetailDao">
	
	<sql id="GoodsDetail_IndexColumn">
		T1.id, T1.code, goodsCode, name, price
	</sql>
	
	<select id="findHotNewCategoryGoods" resultType="GoodsDetail">
		SELECT
			<include refid="GoodsDetail_IndexColumn" />, 
			T1.saleCount as detailSaleCount, T2.updateTime as onlineDate, user_id as producer_id
		FROM
			GOODS_DETAIL T1
		LEFT JOIN GOODS T2 ON T1.goodsCode = T2. CODE
		WHERE
			T2. STATUS = 0
		<if test="@Ognl@isNotEmpty(categoryId)">
			AND T2.category_id = #{categoryId}
			GROUP BY
				T1.goodsCode
		</if>
	</select>
	
	<select id="findHotGoods" resultType="GoodsDetail">
		SELECT
			<include refid="GoodsDetail_IndexColumn" />
		FROM
			GOODS_DETAIL T1
		LEFT JOIN GOODS T2 ON T1.goodsCode = T2. CODE
		WHERE
			T2. STATUS = 0
		ORDER BY
			T1.saleCount DESC
	</select>
	
	<select id="findNewGoods" resultType="GoodsDetail">
		SELECT
			<include refid="GoodsDetail_IndexColumn" />
		FROM
			GOODS_DETAIL T1
		LEFT JOIN GOODS T2 ON T1.goodsCode = T2. CODE
		WHERE
			T2. STATUS = 0
		ORDER BY
			T2.updateTime DESC
	</select>
	
	<select id="findByCategoryId" resultType="GoodsDetail">
		SELECT
			<include refid="GoodsDetail_IndexColumn" />
		FROM
			GOODS_DETAIL T1
		LEFT JOIN GOODS T2 ON T1.goodsCode = T2. CODE
		WHERE
			T2. STATUS = 0
		AND T2.category_id = #{categoryId}
		GROUP BY
			T1.goodsCode
		ORDER BY
			T1.saleCount DESC 
	</select>
	
	<select id="loadById" resultType="GoodsDetail">
		SELECT
			<include refid="GoodsDetail_IndexColumn" />
		FROM
			GOODS_DETAIL T1
		WHERE
			T1.id = #{id}
	</select>
	
	<select id="loadByIdJoinGoods" resultType="GoodsDetail">
		SELECT
			<include refid="GoodsDetail_IndexColumn" />, 
			T1.saleCount as detailSaleCount, T2.updateTime as onlineDate, user_id as producer_id
		FROM
			GOODS_DETAIL T1
		LEFT JOIN GOODS T2 ON T1.goodsCode = T2. CODE
		WHERE
			T1.id = #{id}
		
	</select>
	
	<select id="findGoodsByImageIds" resultType="GoodsDetail">
		SELECT
			<include refid="GoodsDetail_IndexColumn" />
		FROM
			GOODS_DETAIL T1
		WHERE
			T1.images = #{images}
	</select>
	
	<select id="findGoodsName" resultType="string">
		SELECT
			name
		FROM
			GOODS_DETAIL T1
		WHERE
			T1.id = #{id}
	</select>
	
	<select id="findGoodsNames" resultType="string">
		SELECT
			name
		FROM
			GOODS_DETAIL T1
		WHERE
			T1.id in (${ids})
	</select>
	
	<update id="updateSaleCount">
		update 
			goods_detail 
		set 
			saleCount = IFNULL(saleCount, 0) + 1 
		where id= #{id};
	</update>
	
</mapper>