<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sshop.dao.ProvinceDao" >
	
	<resultMap id="RM_Province" type="Province">
	    <result property="provinceId" column="province_id"/>
	    <result property="provinceName" column="province_name"/>
	    <result property="code" column="code"/>
	    <collection property="cities" ofType="City" >
	    	<result property="cityId" column="city_id"/>
		    <result property="provinceId" column="province_id"/>
		    <result property="cityName" column="city_name"/>
		    <result property="code" column="code"/>
		    <collection property="areas" ofType="Area">
		    	<result property="areaId" column="area_id"/>
			    <result property="cityId" column="city_id"/>
			    <result property="areaName" column="area_name"/>
			    <result property="code" column="code"/>
		    </collection>
	    </collection>
	</resultMap>
	
	<select id="findAll" resultMap="RM_Province">
		SELECT
			t1.province_id, t1.province_name, t1.code, 
			t2.city_id, t2.province_id, t2.city_name, t2.code,
			t3.area_id, t3.city_id, t3.area_name, t3.code
		FROM
			address_province t1
		LEFT JOIN address_city t2 ON t1.province_id = t2.province_id
		LEFT JOIN address_area t3 ON t2.city_id = t3.city_id
	</select>
	
</mapper>